@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "questrial";
  src: url(./assets/fonts/Questrial-Regular.ttf);
}

* {
  font-family: "questrial";
}

.container {
  @apply w-full max-w-[1200px] mx-auto md:px-[2rem] px-[1rem];
}
